
*{
    text-align: center;
    
}

.container{
 display:flex;
 flex-direction:row;
 flex-wrap: wrap;
 justify-content:space-around;
 align-items:center;
}

.div1{
  width:30%;
  background-color:#919191;
  margin-bottom: 15px;
}

.div2{
  width:30%;
  background-color:#919191;
  margin-bottom: 15px;
}
.subdiv1{
  float:right;
  font-size:1.25em;
  background-color:#ff88eb;
  width:25%;
  margin-bottom:40px;
}
.subdiv2{
  float:right;
  font-size:1.25em;
  background-color:#b12828;
  width:25%;
  margin-bottom:40px;
}
.subdiv3{
  float:right;
  font-size:1.25em;
  background-color:#fc834c;
  width:25%;
  margin-bottom:40px;
}

@media (min-width:0px) and (max-width:767px){
    .div1{
        width:95%;
    }
    .div2{
        width:95%;
    }
}

@media(min-width:768px) and (max-width:991px){
    .div1{
        width:95%;
    }
    .div2{
        width:45%;
    } 
}
p{
    padding:15px;
}
